<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cms-server</title>
</head>

<body>
  <form action="/upload/file/single" enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="test">
    <input type="submit" value="upload">
  </form>
  <video controls style="height: 200px;" src="http://localhost:9000/file/item/2023-04-22/bf6957e2-5100-4282-b28c-201e4fc441e5"></audio>
</body>
</html>